<waiting-page *ngIf="!showContent" message="Cargando..."></waiting-page>
<div *ngIf="showContent" class="conteiner-centered background-login">
    
    <mat-card fxLayout="column">
        <h1 [style.alignSelf]="'center'" [style.fontSize]="'2.5rem'" [style.margin]="'20px'">Registrarse</h1>
        <form 
            [formGroup]="registro"
            (ngSubmit)="onSubmit()"
            fxLayout="column">

            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
                <mat-form-field fxFlex.gt-xs="50%" appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre" type="text">
                </mat-form-field>
    
                <mat-form-field fxFlex.gt-xs="50%" appearance="fill">
                    <mat-label>Apellido</mat-label>
                    <input matInput  formControlName="apellido" type="text">
                </mat-form-field>
            </div>
            
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email" (focus)="focusEmail()">
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="controls.validEmail">Email no valido</mat-error>
                <mat-error *ngIf="!controls.validEmail">El email ya esta siendo usado por otra cuenta</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Numero de telefono</mat-label>
                <input matInput formControlName="telefono" type="number" (focus)="focusPhone()">
                <mat-icon matSuffix>phone</mat-icon>
                <mat-error *ngIf="controls.validPhone">Telefono no valido</mat-error>
                <mat-error *ngIf="!controls.validPhone">El telefono ya registrado en otra cuenta</mat-error>
            </mat-form-field>


            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">

                <mat-form-field fxFlex.gt-xs="50%" appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input formControlName="pass" matInput [type]="controls.hidePass ? 'password' : 'text'">
                    <mat-icon (click)="controls.hidePass = !controls.hidePass" matSuffix>{{controls.hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error >la contraseña debe de tener minimo 6 caracteres</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex.gt-xs="50%" appearance="fill">
                    <mat-label>Repita contraseña</mat-label>
                    <input matInput formControlName="confirmPassword" [type]="controls.hideConfirmPass ? 'password' : 'text'"[errorStateMatcher]="matcher">
                    <mat-icon (click)="controls.hideConfirmPass = !controls.hideConfirmPass" matSuffix>{{controls.hideConfirmPass ? 'visibility_off' : 'visibility'}}</mat-icon>

                    <mat-error *ngIf="registro.hasError('notSame')" >Contraseñas diferentes, deben de ser iguales!</mat-error>

                </mat-form-field>
            </div>
            
            
            <section>
                <mat-checkbox formControlName="accept" class="example-margin">Acepto terminos y condiciones</mat-checkbox>
            </section>
            
            
            <button 
                [disabled]="!registro.valid" 
                [style.marginTop]="'15px'"
                [style.marginBottom]="'10px'"
                color="primary" 
                mat-raised-button 
                type="submit"
                >
                Registrarse
            </button>
        </form>
    </mat-card>

</div>