<waiting-page *ngIf="!showContent" message="Cargando..."></waiting-page>
<div *ngIf="showContent" class="conteiner-centered background-login">
    
    
    <mat-card>
        <h1 [style.alignSelf]="'center'" [style.fontSize]="'2.5rem'" [style.margin]="'20px'">Login</h1>
        <form 
            [formGroup] = "loginForm" 
            (ngSubmit)="onSubmit()"
            fxLayout="column"
            fxLayoutGap="10px"
            >

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" formControlName="email" matInput >
                <mat-error *ngIf="!wrong_data">Email no valido</mat-error>
                <mat-error *ngIf="wrong_data">El email no coincide con ninguna cuenta</mat-error>
            </mat-form-field>   

            <mat-form-field  appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="password" [type]="hidePass ? 'password' : 'text'" formControlName="pass">

                <mat-icon (click)="hidePass = !hidePass" matSuffix>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>

                <mat-error *ngIf="!wrong_pass">Contraseña debe de tener al menos 6 caracters</mat-error>
                <mat-error *ngIf="wrong_pass">Contraseña incorrecta</mat-error>
            </mat-form-field>


            <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Entrar</button>

        </form> 
        <span *ngIf='error' [style.alignSelf]="'center'" [style.color]='"red"'>{{error}}</span>

        
        <div [style.alignSelf]="'center'" fxLayout="column" [style.marginTop]="'30px'" >
            <span>No tienes cuenta? </span> 
            <button mat-button color="primary" routerLink="../register" >Crear cuenta</button>
        </div>

    </mat-card>

</div>