
<waiting-page *ngIf="!showContent" message="Obteniendo productos"></waiting-page>
<div *ngIf="showContent" class="productos-contenedor" fxLayout="column">
    <div class="header" fxLayout="row" fxLayout.lt-sm="column">
      <span class="title-header" fxFlex="1 1 auto">Catalogo de productos</span>
      <button (click)="resetFilter()" *ngIf="getFiltro()" [style.paddingRight]="'20px'" mat-raised-button color="primary">Ver todos</button>
    </div>
    
    <!-- *ngFor="let producto of (getProductos() | filter:getFiltro())"-->
    <div fxLayout="row wrap" *ngIf="(getProductos() | filter:getFiltro()).length else empty">
      <div
      class="item"
      fxFlex="25%"
      fxFlex.lt-lg="25%"
      fxFlex.lt-md="33%"
      fxFlex.lt-sm="50%"
      *ngFor="let producto of (getProductos() | filter:getFiltro())"
      >
      <div>
        <mat-card class="example-card">
          <img
            (click)="onClickProducto(producto)"
            mat-card-image
            [src]="'http://localhost:8080/images/'+producto.nombre"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content (click)="onClickProducto(producto)">
            <mat-card-title >{{ producto.nombre | titlecase }}</mat-card-title>
            <h3>{{ producto.precio | currency}}</h3>
            <mat-card-subtitle>Unidades: {{producto.unidades}}</mat-card-subtitle>
          </mat-card-content>

          <mat-card-content *ngIf="producto.unidades>0"  fxLayout="row" fxLayoutGap="5px" >
            
            <input 
              #cantidad
              fxFlex="1 1 auto" 
              value="1" 
              type="number" 
              min="1" 
              max="{{producto.unidades}}"
              class="items_amount_count"
            >
            <button (click)="onClickAddToCart(producto, cantidad)" mat-raised-button color="primary">
              <mat-icon>add_shopping_cart</mat-icon>
            </button>

          </mat-card-content>
          <mat-card-content *ngIf="producto.unidades==0" >
            <h2 [style.color]="'red'">Agotado</h2>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    </div>
    
    <ng-template #empty>
      <div [style.paddingLeft]="'10px'">No hay resultados</div>
    </ng-template>

</div>